* {
  direction: ltr;
  background-color: #2d2d34;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  max-height: 100px;
}

h1 {
  color: #ededed;
}

li,
p,
a {
  color: #b3b3b3;
  text-decoration: none;
  background-color: inherit;
}
